# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# intellij
/.idea
/.idea_modules
*.iml
*.ipr
*.iws

# vscode
/.vscode/*
!.vscode/extensions.json

# misc
.DS_Store
*.pem
